<div class="container cont">
        <div class="card" style="width: 18rem;" *ngFor=" let card of cards ">
            <img [src]="card.img" class="card-img-top" alt="{{card.img}}">
            <div class="card-body">
                <h4>{{card.nombre}}</h4>
            <p class="card-text">{{card.bio}}</p>
            </div>
    
            <img class="col-md-8" src="assets/img/3.jpg" alt="">
            <button (click)="vistaDetalle(card.id)" class="btn btn-outline-primary">Ver más!!</button>
    
    
        </div>
      
    </div>