

<!-- inicializamos con un if de card para ver si existe, en el caso de que no, que no nos de un pete -->
<!-- rellenamos la estructura de una tarjeta que vamos a utilizar -->
<div *ngIf="card">
    <h1>{{card.nombre}} </h1>
    
    <div class="row">
        <div class="col-md-4">
                <div class="card" style="width: 18rem;" >
                        <img [src]="card.img" class="card-img-top" alt="{{card.img}}">
                        <div class="card-body">
                            <h4>{{card.nombre}}</h4>
                        <p class="card-text">{{card.bio}}</p>
                        </div>
                
                      <a class="btn btn-outline-danger btn-block"   (click)="IamBeach()"> Acción!!!</a>
                    </div>
    
        </div>
    
    
    </div>
</div>